html {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
}

body {
  margin: 0
}

article,
header,
section {
  display: block
}

h1 {
  font-size: 2em;
  margin: .67em 0
}

main {
  display: block
}

.header-link a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects
}

.header-link a:active,
.header-link a:hover {
  outline-width: 0
}

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  background: #fff;
  color: #36393d;
  -webkit-font-smoothing: antialiased;
  line-height: 1.4;
  font-size: 14.4px;
  font-size: .9rem;
  word-wrap: break-word
}

p {
  line-height: 1.6
}

h1 a,
h1 a:hover,
h2 a,
h2 a:hover,
h3 a,
h3 a:hover,
h4 a,
h4 a:hover,
h5 a,
h5 a:hover,
h6 a,
h6 a:hover {
  color: #36393d;
  text-decoration: none
}


body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column
}

.l-container {
  width: auto;
  margin-top: 3%;
  margin-left: 10px;
  margin-right: 10px
}

@media(min-width:768px) {
  .l-container {
    width: 720px;
    margin-left: auto;
    margin-right: auto
  }
}

@media(min-width:992px) {
  .l-container {
    width: 940px
  }
}

@media(min-width:1200px) {
  .l-container {
    width: 1140px
  }
}

.l-container-mini {
  width: auto;
  margin-left: 10px;
  margin-right: 10px;
  max-width: 700px
}

@media(min-width:768px) {
  .l-container-mini {
    width: 720px;
    margin-left: auto;
    margin-right: auto
  }
}

@media(min-width:992px) {
  .l-container-mini {
    width: 940px
  }
}

@media(min-width:1200px) {
  .l-container-mini {
    width: 1140px
  }
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column
}

@media(min-width:768px) {
  .header-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row
  }
}

@media(min-width:768px) {
  .header-box-title {
    width: 50%
  }
}

.header-blog-title {
  margin: 0 0 .6em;
  font-size: 24px;
  font-size: 1.5rem
}

@media(min-width:768px) {
  .header-blog-title {
    margin: 0
  }
}

.permalink-post {
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto
}

.entry-content {
  line-height: 1.6;
  word-wrap: break-word
}

@media(min-width:768px) {
  .entry-content {
    font-size: 1rem
  }
}

.entry-content p {
  margin: 1em 0
}

.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6 {
  margin: 1em 0 .8em;
  line-height: 1.3
}

.entry-content h1 {
  font-size: 150%
}

@media(min-width:992px) {
  .entry-content h1 {
    font-size: 170%
  }
}

.entry-content h2 {
  font-size: 140%
}

@media(min-width:992px) {
  .entry-content h2 {
    font-size: 160%
  }
}

.entry-content h3 {
  font-size: 130%
}

@media(min-width:992px) {
  .entry-content h3 {
    font-size: 140%
  }
}

.entry-content h4 {
  font-size: 120%
}

@media(min-width:992px) {
  .entry-content h4 {
    font-size: 130%
  }
}

.entry-content h5 {
  font-size: 100%
}

@media(min-width:992px) {
  .entry-content h5 {
    font-size: 110%
  }
}

.entry-content ul {
  margin: 0 0 1em 0;
  padding: 0;
  list-style: none !important;	
}

.entry-content ul li {
 margin-bottom: 8px; 
}

.btn a {
	display: flex;
	justify-content: left;
	align-items: center;
	position: relative;
	width: 300px;
	height: 40px;
	color: #333;
	border-width: 2px 2px 2px 2px;
	border-style: solid;
	border-color: #001d92;
	font-size: 1.2rem;
	font-weight: 700;
	text-decoration: none;
	transition: 0.3s;
}

.btn a:hover {
	color: #f2f2f2;
}

.btn0 a::after {
	content: '';
	position: absolute;
	top: 50%;
	right: 10px;
	transform: rotate(45deg) translateY(-50%);
	width: 6px;
	height: 6px;
	border-width: 2px 2px 0 0;
	border-style: solid;
	border-color: #001d92;
}

.btn0 a:hover {
	background-color: #001d92;
	border: 1px solid #001d92;
}

.btn0 a:hover::after {
	border-color: #f2f2f2 #f2f2f2 transparent transparent;
}

.list-content {
  margin-left: 1rem;
}